@font-face {
  font-family: 'Museo';
  src:
    url('./fonts/MuseoSans500.woff2')    format('woff2'),
    url('./fonts/museo-sans-500.woff')    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src:
    url('./fonts/MuseoSans-700.woff2')    format('woff2'),
    url('./fonts/museo-sans-700.woff')    format('woff');
  font-weight: bold;
  font-style: normal;
}
